#
# ADVICE: For values with spaces, escape with double quotes.
#
# Example:
# MAIL_FROM_NAME="John Doe"
#

# Primary parameters

APP_ENV=local
APP_DEBUG=true
APP_KEY=***************
APP_VERSION=0.0.1
APP_URL=http://magic.app/


# CONFIGURE FOR PRODUCTION
# APP_DOMAIN=


SYSLOG_APPNAME=local.wp_conjure


GITHUBTOKEN=fc97********99


DB_HOST=********
DB_DATABASE=********
DB_USERNAME=********
DB_PASSWORD=********


# IMPORTANT Use underscore or dash instead of dot
SESSION_COOKIE_NAME=wp_conjure


STORAGE_PATH=/home/vagrant/code/storage


ROOT_REPORT_MAIL=example@localhost


# Secondary parameters
MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=****
MAIL_PASSWORD=****
MAIL_ENCRYPTION=null
