#
#    _____               __     _______   ___ _______
#   |     \.---.-.-----.|  |--.|       |.'  _|   |   |.-----.----.-----.---.-.-----.
#   |  --  |  _  |__ --||     ||   -   ||   _|       ||  _  |   _|  _  |  _  |     |
#   |_____/|___._|_____||__|__||_______||__| |__|_|__||_____|__| |___  |___._|__|__|
#                                                                |_____|
#
#
# ADVICE: For values with spaces, escape with double quotes.
#
# Example:
# MAIL_FROM_NAME="John Doe"
#

# Primary parameters

APP_ENV=local
APP_DEBUG=true
APP_KEY=dash_of_morgan_dash_of_morgan
APP_VERSION=0.1.0
APP_URL=https://magic.app/


# CONFIGURE FOR PRODUCTION
APP_DOMAIN=https://magic.app/


SYSLOG_APPNAME=local.wp_conjure


GITHUBTOKEN=fc97********99


DB_HOST=127.0.0.1
DB_DATABASE=utilities
DB_USERNAME=homestead
DB_PASSWORD=secret


STORAGE_PATH=/home/vagrant/
STORAGE_WP=code
STORAGE_SB=dashboard/_spellbook
STORAGE_GT=dashboard/_taskrunner
STORAGE_LF=log
STORAGE_AP=dashboard/apps

# IMPORTANT Use underscore or dash instead of dot
SESSION_COOKIE_NAME=dash_of_morgan


STORAGE_PATH=/home/vagrant/code


ROOT_REPORT_MAIL=dscott@myriadmobile.com


# Secondary parameters
MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=****
MAIL_PASSWORD=****
MAIL_ENCRYPTION=null
