/** Custom Dropdown Animation */

.dropdown-slide > .dropdown-menu {
  // opacity:.3;
  // display: block;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  //transition: all 0.2s linear;
  -webkit-transition: all 0.3s linear;
  display: block;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  //transform: translateY(-2em);
  z-index: 100;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.show.dropdown-slide > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  // opacity:1;
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 901;
  //transform: translateY(0%);
  background: $black-color;
  transition-delay: 0s, 0s, 0.3s;
}

/** */

.navbar .dropdown-menu,
.navbar .dropdown-menu.dropdown-menu-right.dropdown {
  min-width:180px;

}

.navbar .dropdown-menu-form,
.dropdown-menu-form {
  min-width:280px;
}

.navbar .dropdown-menu.dropdown-wide,
.navbar .dropdown-menu.dropdown-menu-right.dropdown-wide {
  min-width:230px;
}

.navbar .dropdown-menu .dropdown-header,
.navbar .dropdown-menu.dropdown-menu-right .dropdown-header{
  padding: 5px 20px 12px 20px;
  margin-bottom: 10px;
  color: $purple;
  border-bottom: 1px solid #eee;
}

.dropdown-menu-form:hover,
.dropdown-menu-form:focus {
  background:$white-color!important;
}

.feedback-drop {
    background-color: $pale-bg;
    border: 0 none;
    border-radius: $border-radius-extreme;
    display: block;
    bottom: 15px;
    padding: 0px;
    position: absolute;
    z-index: 9000;

    @include box-shadow($dropdown-shadow);

//     the style for opening dropdowns on mobile devices; for the desktop version check the _responsive.scss file
    .show &{
        @include opacity(1);
        visibility: visible;
    }

    .divider{
        background-color: $medium-pale-bg;
        margin: 0px;
    }
}

//fix bug for the select items in btn-group
.feedback .btn-group {background-color:#212120}
.btn-group.select{
    overflow: hidden;
}
.btn-group.select.open{
    overflow: visible;
}
