/**
 * INPUTS
*/

.input-group-addon.form-control-lg {
  border-right:none;
  height: 50px;
    -webkit-border-radius: 3px;
  -webkit-border-top-right-radius: 1px;
  -webkit-border-bottom-right-radius: 1px;
  -moz-border-radius: 3px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
