#
#    _____               __     _______   ___ _______
#   |     \.---.-.-----.|  |--.|       |.'  _|   |   |.-----.----.-----.---.-.-----.
#   |  --  |  _  |__ --||     ||   -   ||   _|       ||  _  |   _|  _  |  _  |     |
#   |_____/|___._|_____||__|__||_______||__| |__|_|__||_____|__| |___  |___._|__|__|
#                                                                |_____|
#
APP_ENV=local
APP_DEBUG=true
APP_KEY=xlhF31NeOlibJcoOW9tvZg7TkHcAZI3a
APP_VERSION=0.0.1
APP_URL=https://magic.app

GITHUBTOKEN=fc978ca28c4c02e47d2c351a91be42c055e17622

DB_HOST=127.0.0.1
DB_DATABASE=wordpress
DB_USERNAME=*********
DB_PASSWORD=*********

STORAGE_PATH=/home/vagrant/

# This example assumes you are developing inside Vagrant.
STORAGE_WP=www
STORAGE_SB=dashboard/_spellbook
STORAGE_GT=dashboard/_taskrunner
STORAGE_LF=log
STORAGE_AP=dashboard/apps

# IMPORTANT Use underscore or dash instead of dot
SESSION_COOKIE_NAME=dash_of_morgan
