@font-face {
	font-family: "weather";
	font-style: normal;
	font-weight: normal;
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot");
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"),
	url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff") format("woff"),
	url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf") format("truetype"),
	url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.main-panel .row.stat_card {
	min-height: 95px;
}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart {
	min-height: 250px;
}

.custom-control.custom-checkbox .icons {
	display: none;
}

.logo_logo {
	display: block;
	margin: 5px auto 5px auto;
	max-width: 100px;
	padding: 0;
	position: relative;
	width: 100%;
}

#dynpagename {
	color: #eee;
	font-family: "Open Sans", sans-serif;
	font-size: 28px;
	font-weight: 300;
	line-height: 28px;
	margin-top: 5px;
	padding: 5px 0 0 25px;
}

#dynpagename span {
	color: #fff;
}

.rounded-circle {
	border-radius: 50%;
}

.circle_stat_rows {
  margin-top: 10px;
	margin-bottom: 0px;
}

.circle_stat_rows .col-xs-5 {
	overflow: hidden;
}

.stat-label {
	background: #d3d6d5;
	border-radius: 2px;
	color: #666;
	display: block;
	font-size: 14px;
	margin: -28px auto 50px auto;
	max-width: 145px;
	padding: 4px;
	position: relative;
	width: 100%;
}

.stat-amount {
	color: #fff;
	display: block;
	font-size: 35px;
	font-weight: bold;
	margin-top: 26px;
	position: relative;
  text-align:center;
	z-index: 99;
}

.site_title {
	font-size: 24px;
	line-height: 1;
	margin: 0;
	padding: 0;
}

.conjure-navbar .nav-item {
	padding: 0 10px 0 10px;
}

.widgetGraph_subtitle {
	float: left;
	margin-left: 24px;
	text-align: left;
	text-transform: uppercase;
	width: 75%;
}

.shakey-header {
	margin-top: 25px;
}

.action-buttons {
	margin-left: 45%;
}

.table-inverse strong {
	color: #fefefe;
}

.description {
	padding: 10px;
}

.push {
	display: block;
	height: 25px;
	position: relative;
	width: 100%;
}
