/**
 * T O D O W I D G E T
 */

.todo-input-group {
  padding:0;
  margin:0;
  display:block;
  width:100%;
  position: relative;
}

.input-group .form-control.todo-input {
  width:83%;
  float:left;
}

.input-group .form-control.todo-input-btn {
width:5%;
}

.todo-table.table tbody tr > td {
  font-size:13px;
}

.todo-table.table tbody tr > td {
  font-size:13px;
  line-height:1.2;
  font-family: 'Open Sans'
}


/**
 * FEEDBACK WIDGET
 */

.btn-circle.btn-lg {
	border-radius: 25px;
	font-size: 12px;
	height: 40px;
	line-height: 1.33;
	padding: 5px 8px;
	width: 40px;
}

#bug_txt::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #1f556e;
	opacity: 0.5;
}

#bug_txt::-moz-placeholder {
	/* Firefox 19+ */
	color: #1f556e;
	opacity: 0.5;
}

#bug_txt:-ms-input-placeholder {
	/* IE 10+ */
	color: #1f556e;
}

#bug_txt:-moz-placeholder {
	/* Firefox 18- */
	color: #1f556e;
}

.feedback {
	z-index: 999;
}

.feedback textarea {
	height: 211px;
}

.feedback .screenshot {
	opacity: 0.6;
	position: relative;
	top: -24px;
	right: 10px;
}

.feedback .screenshot:hover {
	opacity: 1;
}

.feedback .failed p,
.feedback .reported p {
	height: 190px;
}

.feedback.left {
	bottom: 15px;
	left: 110px;
}

.feedback.right {
	right: 5px;
	bottom: 15px;
}

/* .feedback .dropdown-menu {
   bottom        : 40px;
   width         : 320px;
   border-radius : 0px;
 }

 .feedback.left .dropdown-menu {
   left               : 0px;
   border             : 1px solid #3253B0;
   -moz-box-shadow    : -10px 11px 5px -6px rgba(0,0,0,0.44);
   -webkit-box-shadow : -10px 11px 5px -6px rgba(0,0,0,0.44);
   box-shadow         : -10px 11px 5px -6px rgba(0,0,0,0.44);
 }

 .feedback.right .dropdown-menu {
   right : 0px;
 } */

.feedback .text-center {
	margin-top: 15px;
}

.feedback .hideme {
	display: none;
}

.feedback .btn-primary {
	background-color: #1f1f1f;
	border-color: #1f1f1f;
	color: #f0f0f0;
	font-weight: bold;
	text-transform: uppercase;
}

.dropdown-menu .feedback .btn-primary {
	background-color: #3253b0;
	border-color: #3253b0;
	border-radius: 0;
	color: #f0f0f0;
	font-weight: bold;
	text-transform: uppercase;
}


/**
 * COLOR SWATCHES
 */

 /* ----------------------------------
  * color-swatches
  * ---------------------------------- */

 .color-swatches .swatches {
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     background-color: #FFF;
     width: 100%;
     box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
 }
 .color-swatches .light, .color-swatches .dark {
     width: 50%;
     height: 50px;
 }
 .color-swatches .light {
     -webkit-border-radius: 4px 0 0 0;
     -moz-border-radius: 4px 0 0 0;
     border-radius: 4px 0 0 0;
 }
 .color-swatches .dark {
     -webkit-border-radius: 0 4px 0 0;
     -moz-border-radius: 0 4px 0 0;
     border-radius: 0 4px 0 0;
 }
 .color-swatches .infos {
     padding: 5px 10px;
 }
 .color-swatches .infos h4, .color-swatches .infos p {
     margin: 0;
 }
 .color-swatches .infos h4 {
     margin-bottom: 3px;
     font-weight: bold;
     font-size: 14px;
 }
 .color-swatches .infos p {
     font-size: 12px;
 }

/**
 *  WEATHER WIDGET
 */

/**
  * Docs at http://http://simpleweatherjs.com
  *
  * Weather icon font from http://fonts.artill.de/collection/artill-weather-icons
  *
  * DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below
  * odds are at some point they will be removed and your version will break.
  */

#weather_cond {
	padding-top: 8px;
	text-transform: uppercase;
}

#weather_icon {
	font-family: weather;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 13px;
	margin: 0 auto;
	padding-top: 9px;
}

#weather_icon.icon-0:before {
	content: ":";
}

#weather_icon.icon-1:before {
	content: "p";
}

#weather_icon.icon-2:before {
	content: "S";
}

#weather_icon.icon-3:before {
	content: "Q";
}

#weather_icon.icon-4:before {
	content: "S";
}

#weather_icon.icon-5:before {
	content: "W";
}

#weather_icon.icon-6:before {
	content: "W";
}

#weather_icon.icon-7:before {
	content: "W";
}

#weather_icon.icon-8:before {
	content: "W";
}

#weather_icon.icon-9:before {
	content: "I";
}

#weather_icon.icon-10:before {
	content: "W";
}

#weather_icon.icon-11:before {
	content: "I";
}

#weather_icon.icon-12:before {
	content: "I";
}

#weather_icon.icon-13:before {
	content: "I";
}

#weather_icon.icon-14:before {
	content: "I";
}

#weather_icon.icon-15:before {
	content: "W";
}

#weather_icon.icon-16:before {
	content: "I";
}

#weather_icon.icon-17:before {
	content: "W";
}

#weather_icon.icon-18:before {
	content: "U";
}

#weather_icon.icon-19:before {
	content: "Z";
}

#weather_icon.icon-20:before {
	content: "Z";
}

#weather_icon.icon-21:before {
	content: "Z";
}

#weather_icon.icon-22:before {
	content: "Z";
}

#weather_icon.icon-23:before {
	content: "Z";
}

#weather_icon.icon-24:before {
	content: "E";
}

#weather_icon.icon-25:before {
	content: "E";
}

#weather_icon.icon-26:before {
	content: "3";
}

#weather_icon.icon-27:before {
	content: "a";
}

#weather_icon.icon-28:before {
	content: "A";
}

#weather_icon.icon-29:before {
	content: "a";
}

#weather_icon.icon-30:before {
	content: "A";
}

#weather_icon.icon-31:before {
	content: "6";
}

#weather_icon.icon-32:before {
	content: "1";
}

#weather_icon.icon-33:before {
	content: "6";
}

#weather_icon.icon-34:before {
	content: "1";
}

#weather_icon.icon-35:before {
	content: "W";
}

#weather_icon.icon-36:before {
	content: "1";
}

#weather_icon.icon-37:before {
	content: "S";
}

#weather_icon.icon-38:before {
	content: "S";
}

#weather_icon.icon-39:before {
	content: "S";
}

#weather_icon.icon-40:before {
	content: "M";
}

#weather_icon.icon-41:before {
	content: "W";
}

#weather_icon.icon-42:before {
	content: "I";
}

#weather_icon.icon-43:before {
	content: "W";
}

#weather_icon.icon-44:before {
	content: "a";
}

#weather_icon.icon-45:before {
	content: "S";
}

#weather_icon.icon-46:before {
	content: "U";
}

#weather_icon.icon-47:before {
	content: "S";
}

#weather h2 {
	color: #252422;
	float: left;
	font-size: 30px;
	font-weight: 300;
	margin: 0 0 0 15px;
	text-align: center;
}

#weather ul {
	margin: 15px 20px 0 0;
	padding: 0;
	width: 285px;
}

#weather li {
	color: #252422;
	display: inline;
	float: right;
	margin: 0;
	/* padding: 20px; */
	/* border-radius: 5px; */
}

#weather li:first-child {
	margin-left: 10px;
	margin-right: 25px;
}

#weather .updated {
	color: #252422;
	float: right;
	font-size: 12px;
	margin-right: 20px;
	opacity: 0.75;
}
