.outrun_red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc466b+0,3f5efb+79 */
  background : #fc466b;
  background : -moz-linear-gradient(
                 -45deg,
                 #fc466b 0%,
                 #3f5efb 79%
               );
  background : -webkit-linear-gradient(
                 -45deg,
                 #fc466b 0%,
                 #3f5efb 79%
               );
  background : linear-gradient(
                 135deg,
                 #fc466b 0%,
                 #3f5efb 79%
               );
  filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc466b', endColorstr='#3f5efb',GradientType=1 );
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
}

.ibiza_sun {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6a00+1,ee0979+100 */
  background : #ff6a00;
  background : -moz-linear-gradient(
                 -45deg,
                 #ff6a00 1%,
                 #ee0979 100%
               );
  background : -webkit-linear-gradient(
                 -45deg,
                 #ff6a00 1%,
                 #ee0979 100%
               );
  background : linear-gradient(
                 135deg,
                 #ff6a00 1%,
                 #ee0979 100%
               );
  filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a00', endColorstr='#ee0979',GradientType=1 );
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
}

.cosmic_fusion {
  background       : -moz-linear-gradient(
                       top,
                       $purple 0%,
                       $purple 56%,
                       $purple_light 100%
                     );
  background       : -webkit-linear-gradient(
                       top,
                       $purple 0%,
                       $purple 56%,
                       $purple_light 100%
                     );
  background       : linear-gradient(
                       to bottom,
                       $purple 0%,
                       $purple 56%,
                       $purple_light 100%
                     );
  background-color : rgb(51,51,153);
  filter           : progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$purple_light',GradientType=0 );
}

.purpink {
  background : $purple_light;
  background : -webkit-linear-gradient(
                 to right,
                 $purple_light,
                 #E100FF
               );
  background : linear-gradient(
                 to right,
                 $purple_light,
                 #E100FF
               );
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pumpkin {
  background : #fe8c00;
  background : -webkit-linear-gradient(
                 to top,
                 #fe8c00,
                 #f83600
               );
  background : linear-gradient(
                 to top,
                 #fe8c00,
                 #f83600
               );
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
